.list-total {
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin: 1px 0px 0 0;
	line-height:18px;
}
.list-total[level="normal"]{
	color: #006580;
}
.list-total[level="overhead"]{
	color: #CC0000;
}

.badge-qty {
	border-color: #005b72;
	border-radius: 3px;
	color: #e1fafb !important;
	font-size: 11px;
	line-height: 16px;
	padding: 0 4px 0 4px !important;
	min-width: 15px;
	text-align: center;
}
.badge-qty[level="normal"] {
	background-color: #006580;
}
.badge-qty[level="warning"] {
	background-color: #FF6600;
}
.badge-qty[level="overhead"] {
	background-color: #CC0000;
}

/* Comment quantity badge */
.badge-qty.phenom-meta {
	margin: 0 4px 0 0;
	font-size: 11px;
}

.badge-qty.window-title {
	margin: 3px 3px 3px 0;
	line-height: 18px;
}

.badge-qty.total {
	font-size: 16px;
	font-weight: bold; 
	line-height: 30px; 
	height: 30px; 
	margin: 0 6px 0 0;
	padding: 0px 6px !important; 
	border-radius: 5px;
}